html {
    font-size: 20px;
    box-sizing: border-box;
  }

  .calculator-layout {
    border: 2px solid #ccc;
    width: 400px;
    position: absolute;
  }

  .calculator-display {
    width: 100%;
    font-size: 4rem;
    height: 80px;
    border: none;
    text-align: right;
    background-color: #252525;
    color: #fff;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    padding: 20px;
  }

  .calculator-button {
    height: 60px;
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    font-size: 2rem;
    color: #333;
  }

  .calculator-button:hover {
    background-color: #eaeaea;
  }

  .equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
  }

  .equal-sign:hover {
    background-color: #2e8692;
  }

  .function-key:hover {
    background-color: #2e8692;
  }

  .function-key {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
  }

  .delete-key {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
  }

  .delete-key:hover {
    background-color: #b0353a;
  }
